<!DOCTYPE html>
<html style="background: #0c1021;color: #ff5600;width: auto;height: auto;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cutive+Mono&amp;subset=latin-ext">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Login-Form-Dark.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Button-Modal-popup-team-member.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Button-Modal-popup-team-member-1.css') }}">

</head>

<body class="d-xl-flex flex-shrink-0 align-items-center align-content-center justify-content-xl-center align-items-xl-end" style="background: #0c1021;color: #ff5600;width: auto;height: auto;font-family: 'Cutive Mono', monospace;">
    <div class="d-xl-flex flex-shrink-0 justify-content-center align-content-center align-self-center justify-content-xl-center align-items-xl-start" style="height: auto;width: auto;color: #ff5600;font-family: 'Cutive Mono', monospace;background: #0c1021;">
        <nav class="navbar navbar-light navbar-expand-md d-xl-flex justify-content-xl-center align-items-xl-center navigation-clean" style="background: #0c1021;color: #ff5600;height: auto;padding: 0;padding-top: 20%;padding-right: 5%;width: auto;">
            <div class="container">
                <div class="dropdown d-xl-flex justify-content-xl-center align-items-xl-start" style="background: #0c1021;"><a class="dropdown-toggle d-flex d-xl-flex flex-column justify-content-xl-start align-items-xl-center" data-toggle="dropdown" aria-expanded="false" style="color: #ff5600;width: 158px;height: 40px;background: #0c1021;" href="#">Menu</a>
                    <div
                        class="dropdown-menu" style="background: #0c1021;color: #122135;border-width: 0px;"><a class="dropdown-item d-flex d-xl-flex flex-column justify-content-xl-start align-items-xl-center" href="#" style="background: #0c1021;color: #ff5600;text-align: center;padding: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;">First Item</a>
                        <a
                            class="dropdown-item d-flex d-xl-flex flex-column justify-content-xl-start align-items-xl-center" href="#" style="background: #0c1021;color: #ff5600;text-align: center;">Second Item</a><a class="dropdown-item d-flex d-xl-flex flex-column justify-content-xl-start align-items-xl-center" href="#" style="background: #0c1021;color: #ff5600;text-align: center;">Third Item</a></div>
            </div>
    </div>
    </nav>
    <div class="d-flex flex-column align-items-center justify-content-xl-start align-items-xl-center" style="width: auto;margin-top: 0px;margin-right: 0;margin-left: 0;height: auto;background: #0c1021;">
        <div class="container" style="background: #0c1021;height: 100%;max-width: auto;min-width: auto;width: auto;">
            <header class="text-center d-xl-flex justify-content-xl-center align-items-xl-center" style="width: 100auto;height: 100px;margin-top: 5px;text-align: left;background: #0c1021;">
                <h1 class="d-xl-flex justify-content-xl-center align-items-xl-center" style="color: #ff5600;background: #0c1021;">Movies App</h1>
            </header>
            <div class="row" style="background: #0c1021;width: auto;">
<input type="search" id="search" style="background: #0c1021;border-width: 0px;border-style: none;color: #ff5600;font-size: 19px;text-align: center;height: 40px;margin-top: 5px;margin-bottom: 5px;width: 500px;" name="search" placeholder="Search..." />
            </div>
            <div class="row" style="height: 900px;background: #0c1021;">
                <div class="col-md-3" style="height: 900px;background: #0c1021;">
                    <header class="d-xl-flex justify-content-xl-center align-items-xl-end" style="height: 50px;background: #0c1021;text-align: left;">
                        <h1 style="font-size: 24px;text-align: center;">Movies</h1>
                    </header>
                    <ul class="list-unstyled text-center" style="height: 100%;/*background: #0c1021;*/overflow: auto;">
                        {% for movie in movies %}
                            <li style="padding: 0px;padding-top: 5px;padding-bottom: 5px;padding-left: 0px;background: #0c1021;width: 100%;">{{ movie.title }}, {{ movie.release_year }}</li>

                        {% endfor  %}
                    </ul>
                </div>
            <div class="col-md-3" style="height: 900px;background: #0c1021;">
                    <header class="d-xl-flex justify-content-xl-center align-items-xl-end" style="height: 50px;background: #0c1021;text-align: left;">
                        <h1 style="font-size: 24px;text-align: center;">Actors</h1>
                    </header>
                    <ul class="list-unstyled text-center" style="height: 100%;/*background: #0c1021;*/overflow: auto;">
                        {% for actor in actors %}
                            <li style="padding: 0px;padding-top: 5px;padding-bottom: 5px;padding-left: 0px;background: #0c1021;width: 100%;">{{ actor.actor_full_name }}</li>

                        {% endfor  %}
                    </ul>
                </div>
                <div class="col-md-3" style="height: 900px;background: #0c1021;">
                    <header class="d-xl-flex justify-content-xl-center align-items-xl-end" style="height: 50px;background: #0c1021;text-align: left;">
                        <h1 style="font-size: 24px;text-align: center;">Directors</h1>
                    </header>
                    <ul class="list-unstyled text-center" style="height: 100%;/*background: #0c1021;*/overflow: auto;">
                        {% for director in directors %}
                            <li style="padding: 0px;padding-top: 5px;padding-bottom: 5px;padding-left: 0px;background: #0c1021;width: 100%;"><a href="{{ director.director_url}}.html"> {{ director.director_full_name }}</a></li>

                        {% endfor  %}
                    </ul>
                </div>
                <div class="col-md-3" style="background: #0c1021;">
                    <header class="d-xl-flex justify-content-xl-center align-items-xl-end" style="height: 50px;background: #0c1021;">
                        <h1 style="font-size: 24px;text-align: center;">Genres</h1>
                    </header>
                    <ul class="list-unstyled text-center" style="height: 100%;/*background: #0c1021;*/overflow: auto;">
                        {% for genre in genres %}
                            <li style="padding: 0px;padding-top: 5px;padding-bottom: 5px;padding-left: 0px;background: #0c1021;width: 100%;">{{ genre.genre_name }}</li>

                        {% endfor  %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
     <script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
     <script type="text/javascript" src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>

</body>

</html>